@inject IAppInfo appInfo

<div class="@alertStyle">
	<span class="oi oi-pencil me-2" aria-hidden="true"></span>
	<strong>@Title</strong>

	<span class="text-nowrap">
		Please take our
		<a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2149017">brief survey</a>
	</span>
	and tell us what you think.
</div>

@code {
	// Demonstrates how a parent component can supply parameters
	[Parameter]
	public string? Title { get; set; }

	private string? alertStyle;

	protected override void OnInitialized()
	{
		alertStyle = appInfo.RequestedTheme switch
		{
			AppTheme.Dark => "alert alert-dark mt-4",
			_ => "alert alert-secondary mt-4"
		};
	}
}
